/* You can add global styles to this file, and also import other style files */
.container{
    padding-top: 200px;

}

.imageBack{
    background-size:cover; 
    background-attachment: fixed;
    background-image:url('/../assets/food_ernaehrung_veganismus.jpeg');
    height: 100vh;
  }

