<!-- Suche-->
<div class="imageBack">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="colcol-md-auto">
                <input (input)="searchInputString=$event.target.value" type="search" class="form-control" id="inputSearch" placeholder="Suchen" style="width: 600px">
            </div>
            <div class="col col-lg-2">
                <button class="btn btn-primary" (click)="searchFoodHandler()">Suche</button>
                <div>
                    <a [routerLink]="['/detailPage', foodID]"></a>
                </div>
            </div>
        </div>
    </div>
    <!-- Suchergebnis-->
    <div class="container">
        <table class="table table-sm table-striped" style="background-color:rgb(247, 247, 247); height: 60px; bottom:0px; padding-bottom:20px;">
            <tbody>
                <tr>
                    <th>Name</th>
                    <th>Glukose (g/100g)</th>
                    <th>Fruktose (g/100g)</th>
                    <th>Saccharose (g/100g)</th>
                </tr>
                <tr *ngFor="let searchresult of searchresults">
                    <td (click)="MyClickHandler($event)" [routerLink]="['/detailPage', foodName]">{{searchresult?.foodName}} </td>
                    <td>{{searchresult?.glukosegehalt}}</td>
                    <td>{{searchresult?.fruktosegehalt}}</td>
                    <td>{{searchresult?.saccharosegehalt}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>