<!-- Suche-->
<div class="imageBack">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="colcol-md-auto">
                <input type="search" class="form-control" id="inputSearch" placeholder="Suchen" style="width: 600px">
            </div>
            <div class="col col-lg-2">
                <button class="btn btn-primary" (click)="searchFood()">Suche</button>
                <!-- Eventhandler einbauen -->
                <div>
                    <a [routerLink]="['/detailPage', foodID]"></a>
                </div>
            </div>
        </div>
        <!-- Suchergebnis-->
        <div class="row">
            <div class="col">
                <table class="table table-hover" id="SearchResultTable">
                    <!-- will be filled with content from JS-->
                </table>
            </div>
        </div>
    </div>
</div>