<footer class="HeaderFooter">
    <div class="footer" style="background-color:rgb(247, 247, 247); height: 60px; bottom:0px; padding-bottom:20px;">
        <span style="color: white; margin-left: 25px">
            <a style="color: black; float: left; margin-left: 25px">KUMAFoods</a> <br>
            <a style="color: black; float: left; margin-left: 25px">copyright @KUMAVISION AG</a>
            <a style="color: blue; float: right; margin-right: 25px" href="impressum.html">Impressum</a>
            <a style="color: blue; float: right; margin-right: 40px;"
                href="datenschutzerklaerung.html">Datenschutzerklärung</a>
        </span>

    </div>

</footer>
