<div class=imageBack>
  <div class=container>
    <div style="color: white; width: 700px; margin-left: 20px;">
      <h1 style="margin-top: 40px;">Datenschutzerklärung</h1><br>
      <div style="margin-top: 20px; margin-bottom: 80px;">
        <b>Datenschutz</b> <br>
        Wir haben diese Datenschutzerklärung (Fassung 13.11.2019-121198320) verfasst, um Ihnen gemäß der
        Vorgaben der Datenschutz-Grundverordnung (EU) 2016/679 und dem Datenschutzgesetz (DSG) zu erklären,
        welche Informationen wir sammeln, wie wir Daten verwenden und welche Entscheidungsmöglichkeiten Sie als
        Besucher dieser Webseite haben. <br>
        Leider liegt es in der Natur der Sache, dass diese Erklärungen sehr technisch klingen. Wir haben uns bei
        der Erstellung jedoch bemüht die wichtigsten Dinge so einfach und klar wie möglich zu beschreiben.
        <br><br>
        <b>Automatische Datenspeicherung</b> <br>
        Wenn Sie heutzutage Webseiten besuchen, werden gewisse Informationen automatisch erstellt und
        gespeichert, so auch auf dieser Webseite. <br>
        Wenn Sie unsere Webseite so wie jetzt gerade besuchen, speichert unser Webserver (Computer auf dem diese
        Webseite gespeichert ist) automatisch Daten wie<br>
        • die Adresse (URL) der aufgerufenen Webseite<br>
        • Browser und Browserversion<br>
        • das verwendete Betriebssystem<br>
        • die Adresse (URL) der zuvor besuchten Seite (Referrer URL) <br>
        • den Hostname und die IP-Adresse des Geräts von welchem aus zugegriffen wird<br>
        • Datum und Uhrzeit<br><br>
        in Dateien (Webserver-Logfiles). <br>
      </div>
    </div>
  </div>
</div>