<div class="imageBack">
  <div class="container" style="margin-top: 50px;">
    <form>
      <div class="form-group row" style="color: white; margin-top: 100px; margin-left: 25px">
        <label for="inputemail" class="col-sm-2 col-form-label">E-Mail</label>
        <div class="col-sm-10">
          <input type="email" class="form-control" id="inputemail" placeholder="E-Mail" style="width: 400px">
        </div>
      </div>
      <div class="form-group row" style="color: white; margin-left: 25px">
        <label for="inputPassword" class="col-sm-2 col-form-label">Passwort</label>
        <div class="col-sm-10">
          <input type="password" class="form-control" id="inputPassword" placeholder="Passwort" style="width: 400px">
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-10" style="margin-left: 40px">
          <button type="submit" class="btn btn-primary">Anmelden</button>
        </div>
      </div>
      <div>
        <a style="color: white; float: left; margin-left: 40px" href="Register.html">Noch nicht registriert? Hier
         registrieren </a>
      </div>
    </form>
  </div>
</div>