<div class="imageBack">
  <div class="container">
    <div style="color: white; width: 700px; margin-left: 10px;">
      <h1 style="margin-top: 50px;">Impressum</h1><br>
      <div style="margin-top: 20px; margin-bottom: 80px;">
        Informationspflicht laut §5 E-Commerce Gesetz, §14 Unternehmensgesetzbuch, §63 Gewerbeordnung und
        Offenlegungspflicht laut §25 Mediengesetz. <br>
        KUMAFoods<br>
        Stuttgarter Straße 42,<br>
        07973 Greiz,<br>
        Deutschland<br> <br>
        <b>Unternehmensgegenstand:</b> Informationsdienstleistung <br>
        <b>Firmenbuchnummer:</b> 126846B <br>
        <b>Firmenbuchgericht:</b> Gera <br>
        <b>Firmensitz:</b> Greiz <br><br>
        <b>Tel.:</b> 03661-646298 <br>
        <b>Fax:</b> 03661-646298 <br>
        <b>E-Mail:</b> anfrage@kumafoods.de <br><br>
        <b>Aufsichtsbehörde/Gewerbebehörde:</b> Bezirkshauptmannschaft Gera <br>
        <b>Berufsbezeichnung:</b> Informationsdienstleistung <br>
        <b>Verleihungsstaat:</b> Deutschland <br><br>
        <b>Vorstand</b> <br>
        Johannes Scheffold, Nuri Misir, Dajena Thoebes
      </div>
    </div>
  </div>
</div>