
h1{
    margin-top: 20px;
    margin-bottom: 20px;
}
#SearchResultTable{
    background-color: rgba(255,255,255,0.8);
    border-radius: 5px;
}
#alertPlaceholder{
    visibility: hidden;
}
SearchResultTable{
    visibility: hidden;
}
.row{
    margin-top: 20px;
}
