<div class="container">
  <table class="table table-sm table-striped">
    <tbody>
      <tr>
        <th>Name</th>
        <th>Glukose</th>
      </tr>
      <tr *ngFor="let food of foods">
        <td>{{food.foodName}}</td>
        <td>{{food.glukosegehalt}}</td>
      </tr>
    </tbody>
  </table>
</div>

<!-- <div class="container" style="height: 100vh; background-color: cadetblue; background-size:cover; background-attachment: fixed;">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <h1 id="foodName">Paprika</h1>
      </div>
    </div>
    <div class="row">
      <div class="col" style="width:fit-content">
        <img id="foodPicture" src="paprika.jpg" alt="Responsive image" class="img-thumbnail" width="500px">
      </div>
      <div class="col">
        <table class="table table-hover">
          <tr>
            <th>Description</th>
            <th>Value per 100g</th>
            <th>Indicator</th>
          </tr>
          <tr>
            <td>Glukose</td>
            <td id="foodGlucose">1,38g</td>
            <td>Green</td>
          </tr>
          <tr>
            <td>Fruktose</td>
            <td id="foodFructose">3,74g</td>
            <td>Green</td>
          </tr>
          <tr>
            <td>Lactose</td>
            <td id="foodLactose"></td>
            <td>Green</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>  -->